body {
    font-family: Arial, sans-serif;
    background-color: #0ca29d;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

header h1 {
    margin: 0px 0; /* Add some space above and below the name */
}

header img {
    max-width: 200px;
    height: auto;
    border-radius: 15%;
    margin: 20px 0; /* Add some space above and below the image */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #ffffff;
    color: #000;
    border-radius: 100px;
    margin: 10px 5px; /* Add some space between buttons */
}

section {
    padding: 40px;
}

section h2 {
    margin-top: 0;
}

.portfolio-item {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.portfolio-item img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 15%;
    margin-bottom: 10px; /* Add some space below the image */
}
